.ui .radio {
  margin-left: 5px;
}

.ui .checkbox {
  margin-left: 5px;
}

.connection_string {
  margin-right: 10px;
}

.ui .radio {
  margin-left: 15px;
}

.ui .checkbox {
  display: inline-block;
  margin-left: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  vertical-align:middle;
}
