.estate-item {
  border-radius: 1%;
  padding: 10px;
  border-top : solid 3px gray;
  /* border-bottom: solid 2px black; */
  margin: 30px 10px 30px 20px;
}

.pagination {
  text-align: center;
}

img {
  margin: 10px;
}

button {
  margin: 2px;
  padding: 2px;
}

img.main-thumbnail{
  width: 100%;
  min-width: 150px;
}

.thumbnail-column {
  text-align: center;
}

table {
  padding: 10px;
  margin: 10px;
}
