.thumbnail_images {
  padding-top: 10px;
  padding-bottom: 10px;
}

.ui .image_label {
  margin-left: 30px;
}

pagination-controls {
  text-align: center;
}

.pagination {
  margin-left: -60px;
}

img.thumbnail_image:hover {
  opacity: 0.7;
  -moz-opacity: 0.7;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.image_box {
  margin-right: 7.5%;
  margin-left: 7.5%;
}

.main-thumbnail-image {
  width: 100%;
  min-width: 300px;
}

.condition_text {
  color: red;
  background-color: pink;
  margin-right: 5px;
}
