<div class="ui grid">
  <div class="row two columns">
    <div class="two wide column">
      <h2>ブックマーク </h2>
    </div>
    <div class="six wide column">
      <a class="ui button" (click)="formSubmitHandler()" [routerLink]="['/result']">結果に戻る</a>
    </div>
  </div>
</div>

<div class="ui divider"></div>

<div class="estate-item item" *ngFor="let estate of bookmarked_estates | paginate: { itemsPerPage: 10, currentPage: p }">
  <div class="ui grid ">
    <div class="row">
      <div class="column">
        <h2><a class="header" [routerLink]="['/details', estate.id]">{{ estate.name }}</a></h2>
      </div>
    </div>
    <div class="row two columns center aligned padded">
      <div class="three wide column thumbnail-column">
        <div>
          <img class="main-thumbnail" src="{{estate.thumbnail_list[0].path}}">
        </div>
        <button class="ui button" [routerLink]="['/details', estate.id]">詳細</button>
        <button class="ui button" (click)="removeElementHandler(estate)">削除</button>
      </div>

      <div class="thirteen wide column thumbnails">
        <div class="row two columns">
          <div class="six wide column">
            <table class="condition-table ui celled table">
              <tbody>
                <tr>
                  <th>所在地</th>
                  <td>
                    <span>{{ estate.address }}</span>
                  </td>
                </tr>
                <tr>
                  <th>交通</th>
                  <p *ngFor="let station of estate.stations_near">
                    <span>{{ station.station_name }} 駅 </span>
                    <span>{{ station.method }}{{ station.distance }}分</span>
                  </p>
                </tr>
                <tr>
                  <th>他条件</th>
                  <td>
                    <span *ngFor="let condition of estate.conditions">{{condition}} </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="six wide column">
            <table class="extra-condition-table ui celled table">
              <thead>
                <th>間取り</th>
                <th>階数</th>
                <th>賃料/管理費</th>
                <th>間取り/占有面積</th>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <img class="floor-plan-image" src="{{estate.floor_plan_image}}"/>
                  </td>
                  <td>
                    <span>{{estate.floor_numbers}} 階</span>
                  </td>
                  <td>
                    <p>{{ estate.rent | currency: 'JPY' }}/{{ estate.administrative_fee | currency: 'JPY' }}</p>
                    <p>{{ estate.deposit }}/{{ estate.gratuity_fee }}/{{ estate.security_money }}/{{ estate.amortization }}</p>
                  </td>
                  <td>
                    <span>{{estate.room_type}}/{{estate.room_size}}</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="pagination">
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
